* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	background-color: #f3f3f3;
	font-family: Tahoma;
}

.newsroom-all-messages {

	margin: 3rem auto;
	max-width: 600px;

	.newsroom-messages {
		.newsroom-message {
			margin-bottom: 1rem;
			padding: 0.5rem;
			background-color: white;
			box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
			
			display: flex;
			
				.newsroom-m-icon { 
					
					flex: 20%;
					text-align: center;
					margin-top: 1rem;

					img {

						opacity:0.4;
						filter:alpha(opacity=40);
						
						width: 64px !important;
						min-width: 64px !important;
						max-width: 64px !important;
						
					}
					
				}

				.newsroom-m-content {
				
					flex: 80%;

					.newsroom-m-text {
						color: #545454;
						p, ul > li {
							font-size: 0.85rem;
						}
					}

					.newsroom-m-date {
						
						text-align: right;
						color: grey;
						margin-top: 0.5rem;
						
						p {
							font-size: 0.7rem;
						}
						
					}
					
					.newsroom-m-title {
						font-weight: bold;
						
						p {
							font-size: 1rem;
						}
						
					}
					
					hr {
						border: dotted 1px;
					}
					
				}
			

			&:hover {
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
			}
		}
	}
}

p {
	/* margin: 1em; */
}

h1 {
	/* font-size: 1em; */
}

h2 {
	/* font-size: 0.9em; */
}

.header {
	background-color: #fcb900;
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.header-logo {
	width: auto;
	margin-right: 1rem;

	svg {
		height: 5rem;
		width: auto;
		display: block;
	}
}

.header-name {
	font-family: Lato, sans-serif;
	font-size: 1.1rem;
}
